/*
@path-nv1: 		"..";
@path-nv2: 		"../..";
@path-nv3: 		"../../..";
@path-nv4: 		"../../../..";
@path-nv5: 		"../../../../..";

@path-var-boots:    "bootstrap/variables.less";
@path-mixins-boots: "bootstrap/mixins.less";
@path-var-theme:    "theme/theme-variables.less";
@path-less: 		"css/less";
@path-participacao: "participacao-tema";
*/
#marco-civil .apresenta-protecao {
  background: url("../images/bck-debates-marco-02.jpg") repeat top left #a58d37;
  padding: 40px 20px;
}
#marco-civil .apresenta-protecao:before,
#marco-civil .apresenta-protecao:after {
  content: " ";
  display: table;
}
#marco-civil .apresenta-protecao:after {
  clear: both;
}
#marco-civil .apresenta-protecao .assinatura {
  margin: 20px -20px -40px -20px;
  padding: 10px 20px 20px 20px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}
#marco-civil .apresenta-protecao .assinatura a,
#marco-civil .apresenta-protecao .assinatura a:hover {
  color: #fff;
}
#marco-civil .apresenta-protecao .assinatura .realizacao {
  width: 50%;
  margin: 10px auto;
}
#marco-civil .temas {
  position: relative;
  padding: 40px 20px;
  background-color: #faf4d1;
}
@media (max-width: 767px) {
  #marco-civil .temas {
    padding: 40px 20px 250px 20px;
  }
}
#marco-civil .temas .menu-home {
  margin-top: 10%;
  padding: 30px;
  /*border-image-slice: 38 30 35 37;
            border-image-width: 20px 20px 20px 20px;
            border-image-outset: 0px 0px 0px 0px;
            border-image-repeat: stretch stretch;
            border-image-source: url("../images/bck-menuhome.jpg");*/
  background-color: #fff;
  /*.base {
                background: url("../images/base-menuhome.jpg") no-repeat center bottom;
                min-width: 127px;
                width: 100%;
                height: 39px;
                margin-bottom: -72px;
            }*/
}
@media (max-width: 767px) {
  #marco-civil .temas .menu-home {
    margin-top: 20px;
  }
}
#marco-civil .temas .menu-home .menu-submenu .panel {
  box-shadow: none;
}
#marco-civil .temas .menu-home .menu-submenu .panel-heading {
  background-color: #fff;
  text-align: center;
}
#marco-civil .temas .menu-home .menu-submenu .panel-title {
  font-family: "amatic", "opensans", Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #bc3f38;
  font-size: 50px;
}
#marco-civil .detalhes-marco {
  background-color: #557a75;
  padding: 40px;
}
#marco-civil .detalhes-marco:before,
#marco-civil .detalhes-marco:after {
  content: " ";
  display: table;
}
#marco-civil .detalhes-marco:after {
  clear: both;
}
div.mce-panel {
  border: 1px solid #ccc !important;
}
#sistematizacao .sist-top {
  margin-top: 80px;
}
#sistematizacao .sist-content {
  position: relative;
}
#sistematizacao .sist-content:before,
#sistematizacao .sist-content:after {
  content: " ";
  display: table;
}
#sistematizacao .sist-content:after {
  clear: both;
}
#sistematizacao .sist-logo {
  position: absolute;
  top: -65px;
  left: 0;
}
@media (max-width: 992px) {
  #sistematizacao .sist-logo {
    width: 100%;
    text-align: center;
  }
}
#sistematizacao .sist-menu {
  padding: 30px 0 0 0;
  font-weight: 700;
  font-size: 20px;
  font-family: "roboto", "opensans", Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media (max-width: 992px) {
  #sistematizacao .sist-menu {
    margin: 280px 10px 30px 10px;
    text-align: center;
  }
}
@media (max-width: 480px) {
  #sistematizacao .sist-menu {
    margin-top: 210px;
    text-align: center;
  }
}
#sistematizacao .sist-menu li {
  margin: 10px 0;
}
#sistematizacao .sist-menu li a {
  color: #fff;
}
#sistematizacao .sist-menu li a:hover {
  color: #fff;
}
#sistematizacao .sist-base {
  background: url("../images/bck-sistematizacao.jpg") repeat center bottom;
  margin: 40px 0;
  min-height: 265px;
}
#sistematizacao .oque {
  margin: 20px 0;
}
#sistematizacao .comoparticipar {
  background-color: #f9f1d5;
  padding: 40px 0;
  margin: 20px 0;
}
#sistematizacao .comoparticipar .menu-participar {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 2px 10px -4px #323232;
  margin: 20px;
}
#sistematizacao .comoparticipar .menu-participar li {
  margin-top: 10px;
  border-top: 1px solid #ecdfb4;
  padding-top: 10px;
}
#sistematizacao .comoparticipar .menu-participar li:first-child {
  margin-top: 0;
  border-top: 0;
  padding-top: 0;
}
#sistematizacao .comoparticipar .menu-participar li a {
  font-weight: 700;
  font-size: 20px;
  font-family: "roboto", "opensans", Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#sistematizacao .eixos {
  padding: 40px 0;
  margin: 20px 0;
  background-color: #e9e9e9;
}
#sistematizacao .eixos .confira {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 2px 10px -4px #323232;
  margin: 20px auto;
  text-align: center;
  width: 80%;
}
#sistematizacao .eixos .confira:before,
#sistematizacao .eixos .confira:after {
  content: " ";
  display: table;
}
#sistematizacao .eixos .confira:after {
  clear: both;
}
#sistematizacao .eixos .confira > .divider {
  border-right: 1px solid #ccc;
}
@media (max-width: 992px) {
  #sistematizacao .eixos .confira > .divider {
    border-right: 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
}
#sistematizacao .envie {
  padding: 40px 0;
  margin: 20px 0;
}
#sistematizacao .envie .form-envie {
  padding: 20px;
  background-color: #f7f7f7;
  box-shadow: 0px 2px 10px -4px #323232;
  margin: 20px;
  border: 1px solid #c7c5c7;
}
#sistematizacao .emnumeros {
  padding: 40px 0;
  margin: 20px 0;
  background: url("../images/bck-numeros.jpg") repeat #0e6490;
  color: #fff;
}
#sistematizacao .emnumeros a {
  color: #fff;
}
#sistematizacao .emnumeros a:hover {
  color: #fff;
}
#sistematizacao .emnumeros .exnume {
  background-color: rgba(255, 255, 255, 0.2);
  text-align: right;
  padding: 20px;
}
@media (max-width: 992px) {
  #sistematizacao .emnumeros .exnume {
    margin: 20px;
    text-align: center;
  }
}
#marco-numeros .top {
  background-color: #0e6490;
  padding: 40px 0;
  margin: 20px 0;
}
#marco-numeros .criacao-pautas {
  padding: 40px 0;
  margin: 20px 0;
}
#marco-numeros .acessos {
  background-color: #f7f7f7;
}
#marco-numeros .redes-sociais {
  padding: 40px 0;
  margin: 20px 0;
}
#marco-numeros .mapas {
  padding: 40px 0;
  margin: 20px 0;
  background-color: #f7f7f7;
}
#marco-numeros .palavras {
  padding: 40px 0;
  margin: 20px 0;
}
