/*
@path-nv1: 		"..";
@path-nv2: 		"../..";
@path-nv3: 		"../../..";
@path-nv4: 		"../../../..";
@path-nv5: 		"../../../../..";

@path-var-boots:    "bootstrap/variables.less";
@path-mixins-boots: "bootstrap/mixins.less";
@path-var-theme:    "theme/theme-variables.less";
@path-less: 		"css/less";
@path-participacao: "participacao-tema";
*/
#marco-civil .apresenta-protecao {
  background: url("../images/bck-debates-marco-02.jpg") repeat top left #a58d37;
  padding: 40px 20px;
}
#marco-civil .apresenta-protecao:before,
#marco-civil .apresenta-protecao:after {
  content: " ";
  display: table;
}
#marco-civil .apresenta-protecao:after {
  clear: both;
}
#marco-civil .apresenta-protecao .assinatura {
  margin: 20px -20px -40px -20px;
  padding: 10px 20px 20px 20px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}
#marco-civil .apresenta-protecao .assinatura a,
#marco-civil .apresenta-protecao .assinatura a:hover {
  color: #fff;
}
#marco-civil .apresenta-protecao .assinatura .realizacao {
  width: 50%;
  margin: 10px auto;
}
#marco-civil .temas {
  position: relative;
  padding: 40px 20px;
  background-color: #faf4d1;
}
@media (max-width: 767px) {
  #marco-civil .temas {
    padding: 40px 20px 250px 20px;
  }
}
#marco-civil .temas .menu-home {
  margin-top: 10%;
  padding: 30px;
  /*border-image-slice: 38 30 35 37;
            border-image-width: 20px 20px 20px 20px;
            border-image-outset: 0px 0px 0px 0px;
            border-image-repeat: stretch stretch;
            border-image-source: url("../images/bck-menuhome.jpg");*/
  background-color: #fff;
  /*.base {
                background: url("../images/base-menuhome.jpg") no-repeat center bottom;
                min-width: 127px;
                width: 100%;
                height: 39px;
                margin-bottom: -72px;
            }*/
}
@media (max-width: 767px) {
  #marco-civil .temas .menu-home {
    margin-top: 20px;
  }
}
#marco-civil .temas .menu-home .menu-submenu .panel {
  box-shadow: none;
}
#marco-civil .temas .menu-home .menu-submenu .panel-heading {
  background-color: #fff;
  text-align: center;
}
#marco-civil .temas .menu-home .menu-submenu .panel-title {
  font-family: "amatic", "opensans", Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #bc3f38;
  font-size: 50px;
}
#marco-civil .detalhes-marco {
  background-color: #557a75;
  padding: 40px;
}
#marco-civil .detalhes-marco:before,
#marco-civil .detalhes-marco:after {
  content: " ";
  display: table;
}
#marco-civil .detalhes-marco:after {
  clear: both;
}
div.mce-panel {
  border: 1px solid #ccc !important;
}
#sistematizacao .sist-top {
  margin-top: 80px;
}
#sistematizacao .sist-content {
  position: relative;
}
#sistematizacao .sist-content:before,
#sistematizacao .sist-content:after {
  content: " ";
  display: table;
}
#sistematizacao .sist-content:after {
  clear: both;
}
#sistematizacao .sist-logo {
  position: absolute;
  top: -65px;
  left: 0;
}
@media (max-width: 992px) {
  #sistematizacao .sist-logo {
    width: 100%;
    text-align: center;
  }
}
#sistematizacao .sist-menu {
  padding: 30px 0 0 0;
  font-weight: 700;
  font-size: 20px;
  font-family: "roboto", "opensans", Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media (max-width: 992px) {
  #sistematizacao .sist-menu {
    margin: 280px 10px 30px 10px;
    text-align: center;
  }
}
@media (max-width: 480px) {
  #sistematizacao .sist-menu {
    margin-top: 210px;
    text-align: center;
  }
}
#sistematizacao .sist-menu li {
  margin: 10px 0;
}
#sistematizacao .sist-menu li a {
  color: #fff;
}
#sistematizacao .sist-menu li a:hover {
  color: #fff;
}
#sistematizacao .sist-base {
  background: url("../images/bck-sistematizacao.jpg") repeat center bottom;
  margin: 40px 0;
  min-height: 265px;
}
#sistematizacao .oque {
  margin: 20px 0;
}
#sistematizacao .comoparticipar {
  background-color: #f9f1d5;
  padding: 40px 0;
  margin: 20px 0;
}
#sistematizacao .comoparticipar .menu-participar {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 2px 10px -4px #323232;
  margin: 20px;
}
#sistematizacao .comoparticipar .menu-participar li {
  margin-top: 10px;
  border-top: 1px solid #ecdfb4;
  padding-top: 10px;
}
#sistematizacao .comoparticipar .menu-participar li:first-child {
  margin-top: 0;
  border-top: 0;
  padding-top: 0;
}
#sistematizacao .comoparticipar .menu-participar li a {
  font-weight: 700;
  font-size: 20px;
  font-family: "roboto", "opensans", Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#sistematizacao .eixos {
  padding: 40px 0;
  margin: 20px 0;
  background-color: #e9e9e9;
}
#sistematizacao .eixos .confira {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 2px 10px -4px #323232;
  margin: 20px auto;
  text-align: center;
  width: 80%;
}
#sistematizacao .eixos .confira:before,
#sistematizacao .eixos .confira:after {
  content: " ";
  display: table;
}
#sistematizacao .eixos .confira:after {
  clear: both;
}
#sistematizacao .eixos .confira > .divider {
  border-right: 1px solid #ccc;
}
@media (max-width: 992px) {
  #sistematizacao .eixos .confira > .divider {
    border-right: 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
}
#sistematizacao .envie {
  padding: 40px 0;
  margin: 20px 0;
}
#sistematizacao .envie .form-envie {
  padding: 20px;
  background-color: #f7f7f7;
  box-shadow: 0px 2px 10px -4px #323232;
  margin: 20px;
  border: 1px solid #c7c5c7;
}
#sistematizacao .envie .form-envie input,
#sistematizacao .envie .form-envie button,
#sistematizacao .envie .form-envie select,
#sistematizacao .envie .form-envie textarea {
  width: 100% !important;
}
#sistematizacao .envie .form-envie input[type="submit"] {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
#sistematizacao .emnumeros {
  padding: 40px 0;
  margin: 20px 0;
  background-color: #0e6490;
  color: #fff;
}
#sistematizacao .emnumeros a {
  color: #fff;
}
#sistematizacao .emnumeros a:hover {
  color: #fff;
}
#sistematizacao .emnumeros .exnume {
  background-color: rgba(255, 255, 255, 0.2);
  text-align: right;
  padding: 20px;
}
@media (max-width: 992px) {
  #sistematizacao .emnumeros .exnume {
    margin: 20px;
    text-align: center;
  }
}
#marco-numeros .top {
  background-color: #0e6490;
  padding: 40px 0;
  margin: 20px 0;
}
#marco-numeros .criacao-pautas {
  padding: 40px 0;
  margin: 20px 0;
}
#marco-numeros .acessos {
  background-color: #f7f7f7;
}
#marco-numeros .redes-sociais {
  padding: 40px 0;
  margin: 20px 0;
}
#marco-numeros .mapas {
  padding: 40px 0;
  margin: 20px 0;
  background-color: #779aac;
}
#marco-numeros .mapas #grafico-paises path {
  stroke-width: 1;
  /* Controla a largura da linha que separa os países */
  stroke: #779aac;
  /* Seta a cor da borda */
}
#marco-numeros .mapas #grafico-paises path:hover {
  stroke-width: 2;
  stroke: #f8a19c;
}
#marco-numeros .palavras {
  padding: 40px 0;
  margin: 20px 0;
}
#marco-numeros .maiscomentadas .timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
#marco-numeros .maiscomentadas .timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}
#marco-numeros .maiscomentadas .timeline > li {
  margin-bottom: 20px;
  position: relative;
}
#marco-numeros .maiscomentadas .timeline > li:before,
#marco-numeros .maiscomentadas .timeline > li:after {
  content: " ";
  display: table;
}
#marco-numeros .maiscomentadas .timeline > li:after {
  clear: both;
}
#marco-numeros .maiscomentadas .timeline > li:before,
#marco-numeros .maiscomentadas .timeline > li:after {
  content: " ";
  display: table;
}
#marco-numeros .maiscomentadas .timeline > li:after {
  clear: both;
}
#marco-numeros .maiscomentadas .timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
#marco-numeros .maiscomentadas .timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
#marco-numeros .maiscomentadas .timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
#marco-numeros .maiscomentadas .timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
#marco-numeros .maiscomentadas .timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
#marco-numeros .maiscomentadas .timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
#marco-numeros .maiscomentadas .timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
#marco-numeros .maiscomentadas .timeline-badge.primary {
  background-color: #428bca !important;
}
#marco-numeros .maiscomentadas .timeline-badge.success {
  background-color: #5cb85c !important;
}
#marco-numeros .maiscomentadas .timeline-badge.warning {
  background-color: #f0ad4e !important;
}
#marco-numeros .maiscomentadas .timeline-badge.danger {
  background-color: #d9534f !important;
}
#marco-numeros .maiscomentadas .timeline-badge.info {
  background-color: #5bc0de !important;
}
#marco-numeros .maiscomentadas .timeline-title {
  margin-top: 0;
  color: inherit;
}
#marco-numeros .maiscomentadas .timeline-body > p,
#marco-numeros .maiscomentadas .timeline-body > ul {
  margin-bottom: 0;
}
#marco-numeros .maiscomentadas .timeline-body > p + p {
  margin-top: 5px;
}
@media (max-width: 767px) {
  #marco-numeros .maiscomentadas ul.timeline:before {
    left: 40px;
  }
  #marco-numeros .maiscomentadas ul.timeline > li .timeline-panel {
    width: calc(100% -  90px);
    width: -moz-calc(100% -  90px);
    width: -webkit-calc(100% -  90px);
    float: right;
  }
  #marco-numeros .maiscomentadas ul.timeline > li .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  #marco-numeros .maiscomentadas ul.timeline > li .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
  #marco-numeros .maiscomentadas ul.timeline > li .timeline-badge {
    left: 15px;
    margin-left: 0;
    top: 16px;
  }
}
#respond.comment-respond {
  border-top: 1px solid #ccc;
  padding-top: 20px;
  margin-top: 20px;
}
#respond.comment-respond .comments-area #comments header {
  padding: 0;
}
#respond.comment-respond .comment-reply-title {
  font-size: 18px;
  font-weight: 700;
  margin: 10px 0;
}
#respond.comment-respond #cancel-comment-reply-link {
  font-weight: 700;
  color: #bc3f38;
  margin-left: 40px;
}
#respond.comment-respond #comment {
  display: block;
  width: 100%;
}
#respond.comment-respond .comments-title {
  font-size: 18px;
  font-weight: 700;
}
#respond.comment-respond li.comment {
  background: #ededed;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #D3D3D3;
}
#respond.comment-respond .comment-form-comment label {
  margin-right: 20px;
}
#respond.comment-respond .form-submit {
  text-align: left;
}
#respond.comment-respond .comment-content {
  background-color: #fff;
  padding: 10px;
  margin: 5px 0 10px 0;
}
#respond.comment-respond .form-allowed-tags {
  font-size: 11px;
}
#respond.comment-respond .submit {
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#respond.comment-respond .submit:hover,
#respond.comment-respond .submit:focus,
#respond.comment-respond .submit:active,
#respond.comment-respond .submit.active,
.open > .dropdown-toggle#respond.comment-respond .submit {
  color: #ffffff;
  background-color: #3071a9;
  border-color: #285e8e;
}
#respond.comment-respond .submit:active,
#respond.comment-respond .submit.active,
.open > .dropdown-toggle#respond.comment-respond .submit {
  background-image: none;
}
#respond.comment-respond .submit.disabled,
#respond.comment-respond .submit[disabled],
fieldset[disabled] #respond.comment-respond .submit,
#respond.comment-respond .submit.disabled:hover,
#respond.comment-respond .submit[disabled]:hover,
fieldset[disabled] #respond.comment-respond .submit:hover,
#respond.comment-respond .submit.disabled:focus,
#respond.comment-respond .submit[disabled]:focus,
fieldset[disabled] #respond.comment-respond .submit:focus,
#respond.comment-respond .submit.disabled:active,
#respond.comment-respond .submit[disabled]:active,
fieldset[disabled] #respond.comment-respond .submit:active,
#respond.comment-respond .submit.disabled.active,
#respond.comment-respond .submit[disabled].active,
fieldset[disabled] #respond.comment-respond .submit.active {
  background-color: #428bca;
  border-color: #357ebd;
}
#respond.comment-respond .submit .badge {
  color: #428bca;
  background-color: #ffffff;
}
#respond.comment-respond .submit:focus,
#respond.comment-respond .submit:active:focus,
#respond.comment-respond .submit.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
#respond.comment-respond .submit:hover,
#respond.comment-respond .submit:focus {
  color: #fff;
  text-decoration: none;
}
#respond.comment-respond .submit:active,
#respond.comment-respond .submit.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
#respond .comment-form-author,
#respond .comment-form-email,
#respond .comment-form-url {
  float: left;
  margin-right: 15px;
}
#respond .comment-form-author label,
#respond .comment-form-email label,
#respond .comment-form-url label {
  display: block;
}
#respond .comment-form-comment {
  clear: both;
}
#respond p {
  border: 0;
}
/* comentários dentro da notícia */
#comments {
  border-top: 1px solid #ccc;
  padding-top: 20px;
  margin-top: 20px;
}
#comments .comments-title {
  font-size: 18px;
  font-weight: 700;
  margin: 10px 0;
}
#comments ol,
#comments li {
  list-style-type: none;
}
#comments li.comment {
  background: #ededed;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #D3D3D3;
}
#comments .delibera-comment-text {
  background-color: #fff;
  padding: 10px;
  margin: 5px 0 10px 0;
}
#comments .fn {
  margin-left: 15px;
}
#comments .comment-meta {
  font-size: 11px;
}
