#marco-civil .apresenta-protecao {
  background: url("../images/bck-debates-marco-02.jpg") repeat top left #a58d37;
  padding: 40px 20px;
}
#marco-civil .apresenta-protecao:before,
#marco-civil .apresenta-protecao:after {
  content: " ";
  display: table;
}
#marco-civil .apresenta-protecao:after {
  clear: both;
}
#marco-civil .apresenta-protecao .assinatura {
  margin: 20px -20px -40px -20px;
  padding: 10px 20px 20px 20px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}
#marco-civil .apresenta-protecao .assinatura a,
#marco-civil .apresenta-protecao .assinatura a:hover {
  color: #fff;
}
#marco-civil .apresenta-protecao .assinatura .realizacao {
  width: 50%;
  margin: 10px auto;
}
#marco-civil .temas {
  position: relative;
  padding: 40px 20px;
  background: url("../images/bck-debates-marco-civil-temas.jpg") no-repeat left bottom #faf4d1;
}
@media (max-width: 767px) {
  #marco-civil .temas {
    padding: 40px 20px 250px 20px;
  }
}
#marco-civil .temas .menu-home {
  margin-top: 60%;
  padding: 30px;
  border-image-slice: 38 30 35 37;
  border-image-width: 20px 20px 20px 20px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  border-image-source: url("../images/bck-menuhome.jpg");
  background-color: #fff;
}
#marco-civil .temas .menu-home .base {
  background: url("../images/base-menuhome.jpg") no-repeat center bottom;
  min-width: 127px;
  width: 100%;
  height: 39px;
  margin-bottom: -72px;
}
@media (max-width: 767px) {
  #marco-civil .temas .menu-home {
    margin-top: 20px;
  }
}
#marco-civil .temas .menu-home .menu-submenu .panel {
  box-shadow: none;
}
#marco-civil .temas .menu-home .menu-submenu .panel-heading {
  background-color: #fff;
  text-align: center;
}
#marco-civil .temas .menu-home .menu-submenu .panel-title {
  font-family: "amatic", "opensans", Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #bc3f38;
  font-size: 50px;
}
#marco-civil .detalhes-marco {
  background-color: #557a75;
  padding: 40px;
}
#marco-civil .detalhes-marco:before,
#marco-civil .detalhes-marco:after {
  content: " ";
  display: table;
}
#marco-civil .detalhes-marco:after {
  clear: both;
}
div.mce-panel {
  border: 1px solid #ccc !important;
}
